In [2]:
import pandas as pd
import numpy as np

sales_df = pd.read_csv("../Sales_Data/Amazon Sale Report.csv")
sales_df.head()

/tmp/ipykernel_8151/1971101914.py:4: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_df = pd.read_csv("../Sales_Data/Amazon Sale Report.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [5]:
# Data Preprocessing

## 1. Check for null values
# print(sales_df.__len__) # 1,28,975 rows
sales_df.isna().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [9]:
sales_df = sales_df.drop('Unnamed: 22', axis=1)

In [11]:
sales_df['fulfilled-by'].unique()

array(['Easy Ship', nan], dtype=object)

In [ ]:
sales_df['currency'].fillna('INR', inplace=True)

AttributeError: 'function' object has no attribute 'sum'

In [17]:
sales_df.isna().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency                  0
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
dtype: int64

In [18]:
sales_df['Courier Status'].unique()

array([nan, 'Shipped', 'Cancelled', 'Unshipped'], dtype=object)

In [21]:
sales_df['promotion-ids'].unique()
sales_df['promotion-ids'].fillna('None', inplace=True)

In [23]:
# Fill shipping info with mode or drop rows if negligible
for col in ['ship-city', 'ship-state', 'ship-postal-code', 'ship-country']:
   sales_df.fillna({col: sales_df[col].mode()[0]}, inplace=True)

In [32]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      128975 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            128975 non-null  object
 15  Amount              128975 non-null  float64
 16  ship-city           128975 non-null  object
 17  ship-state          128975 non-null  object
 18  ship-postal-code    128975 non-null  float64
 19  ship-country        128975 non-null  object
 20  promotion-ids       128975 non-null  object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        128975 non-null  object
dtypes: bool(1), float64(2), int64(2), object(18)
memory usage: 21.8+ MB

In [26]:
sales_df.fillna({'fulfilled-by': 'Unknown' }, inplace=True)
sales_df.fillna({'Courier Status':'Pending'}, inplace=True)

In [29]:
sales_df[sales_df['Amount'].isna()].head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
8,8,407-5443024-5233168,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,SET200,SET200-KR-NP-A-XXXL,Set,...,0,INR,NaN,HYDERABAD,TELANGANA,500008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,Unknown
29,29,404-5933402-8801952,04-30-22,Cancelled,Merchant,Amazon.in,Standard,JNE2132,JNE2132-KR-398-XXXL,kurta,...,0,INR,NaN,GUWAHATI,ASSAM,781003.0,IN,None,False,Easy Ship
65,65,171-4137548-0481151,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3373,JNE3373-KR-XXL,kurta,...,0,INR,NaN,Dahod,Gujarat,389151.0,IN,None,False,Unknown
84,84,403-9950518-0349133,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3510,JNE3510-KR-M,kurta,...,0,INR,NaN,HYDERABAD,TELANGANA,500072.0,IN,None,False,Unknown
95,95,405-9112089-3379536,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-L,kurta,...,0,INR,NaN,PUNE,MAHARASHTRA,411046.0,IN,None,False,Unknown

In [30]:
sales_df.fillna({'Amount': 0}, inplace=True)

In [42]:
sales_df.to_csv('../data/processed/cleaned_Amazon_sales_data.csv')

In [41]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128975 non-null  object
 1   Date                128975 non-null  object
 2   Status              128975 non-null  object
 3   Fulfilment          128975 non-null  object
 4   Sales Channel       128975 non-null  object
 5   ship-service-level  128975 non-null  object
 6   Style               128975 non-null  object
 7   SKU                 128975 non-null  object
 8   Category            128975 non-null  object
 9   Size                128975 non-null  object
 10  ASIN                128975 non-null  object
 11  Courier Status      128975 non-null  object
 12  Qty                 128975 non-null  int64
 13  currency            128975 non-null  object
 14  Amount              128975 non-null  float64
 15  ship-city           128975 non-null  object
 16  ship-state          128975 non-null  object
 17  ship-postal-code    128975 non-null  float64
 18  ship-country        128975 non-null  object
 19  promotion-ids       128975 non-null  object
 20  B2B                 128975 non-null  bool
 21  fulfilled-by        128975 non-null  object
dtypes: bool(1), float64(2), int64(1), object(18)
memory usage: 20.8+ MB

In [40]:
sales_df = sales_df.drop('index', axis=1)

In [48]:
sales_df.columns

Index(['Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by'],
      dtype='object')

In [49]:
sales_df.rename(columns={'Sales Channel ': 'Sales Channel'}, inplace=True)

In [50]:
def row_to_text(row):
    return (
        f"Order on {row['Date']} with status {row['Status']}. "
        f"Fulfilment by {row['Fulfilment']} via {row['Sales Channel']}. "
        f"Product: {row['Style']} ({row['Category']}), size {row['Size']}. "
        f"Shipped to {row['ship-city']}, {row['ship-state']} ({row['ship-country']}). "
        f"Qty: {row['Qty']}, Amount: {row['Amount']}, B2B: {row['B2B']}. "
        f"Courier Status: {row['Courier Status']}, Fulfilled By: {row['fulfilled-by']}. "
        f"Promotion: {row['promotion-ids']}"
    )
sales_df['text'] = sales_df.apply(row_to_text, axis=1)

In [ ]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('all-MiniLM-L6-v2')
sales_df['embedding'] = model.encode(sales_df['text'].tolist(), show_progress_bar=True).tolist()

Batches:   6%|â–Œ         | 235/4031 [11:19<2:08:30,  2.03s/it]

In [ ]:
import os
from dotenv import load_dotenv

load_dotenv()

In [ ]:
from qdrant_client import QdrantClient
from qdrant_client.models import PointStruct, Distance, VectorParams

client = QdrantClient(
    url="https://d7061209-094a-4e53-8514-261b9664f4b1.us-east-1-0.aws.cloud.qdrant.io:6333",
    api_key=os.getenv('QDRANT_API_KEY'),
    port=6333
)

# create collection
client.recreate_collection(
    collection_name="sales_data",
    vector_config=VectorParams(size=384, distance=Distance.COSINE)
)

# Create points
points = [
    PointStruct(
        id=i,
        vector=embedding,
        payload={
            "text": text,
            "metadata": sales_df.loc[i].to_dict()
        }
    )
    for i, (embedding, text) in enumerate(zip(sales_df['embedding'], sales_df['text']))
]

# Upload to Qdrant
client.upsert(collection_name="sales_data", points=points)